html, body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-image: url('/img/background/leaves.png');
    scroll-behavior: smooth;
}

body{
    position: relative !important;
}

#about, #restaurante, #productos, #pedidos, #consultas{
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}


/**********************HOME**********************/
/*HOME MOBILE*/
.grow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: black;
    overflow-y: hidden;
}
.grow > a{
    flex-basis: 20%;
    flex-shrink: 0;
    transition: .5s;
}

.grow:hover > a:hover{
    opacity: 1;
}

.grow:hover > a{
    opacity: 0.5;
}

.grow > a:hover{
    flex-basis: 30%;
}

.logo{
    padding-top: 5px;
    height: 20vh;
    width: auto;
}

.map{
    width: 150vw;
}

/*HOME DESKTOP*/
@media (min-width: 992px){
    .grow{
        flex-direction: row;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .grow > a:hover{
        flex-basis: 40%;
    }
    
    div.grow a:hover div p {
        opacity: 1;
        line-height: 2rem;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    
    div.grow a:hover div h2 {
        opacity: 0;
        
    }
    
    
    .grow > a:first-child:hover{
        margin-left: 15%;
    }
    
    .grow > a:last-child:hover{
        margin-right: 15%;
    }
    
    .logo{
        width: 20vw;
        height: auto;
    }
    
    .map{
        width: 100vw;
    }
}

/*HOME ALL*/
div.grow a{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.grow a, div.grow a:hover, div.grow a:visited{
    text-decoration: none;
    color: white;
}

div.grow a div{
    flex-basis: 75%;
}

div.grow a div p {
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    line-height: 0;
    opacity: 0;
}

div.grow a div h2 {
    letter-spacing: 0.3rem;
    font-weight: 600;
}

div.grow a div p, div.grow a div h2{
    text-shadow: 5px 5px 8px #000000, 5px 5px 20px #000000;
}

.map{
    position: relative; left: 50%;
    transform: translateX(-50%);
}




/**********************HOME**********************/

.phrase{
    font-family: 'Kalam', cursive;
    color: white;
    text-shadow: 4px 2px 9px rgba(0,0,0,0.47);
}

#phraseContainer{
    background-color: #0ca6a991;
    padding: 10px;
    border-top-left-radius:2rem;
    border-bottom-right-radius:2rem;
}

#textContainer{
    background-color: #0ca93391;
    padding: 10px;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-bottom: -5px;
}

.fab {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    height: 100px;
    width: 100px;
    padding-top: 35px;
  }
  
  .fab:hover {
      opacity: 0.8;
      font-size: 50px;
      padding-top: 25px;
      transition: all 0.2s linear;
  }
  
  .fa-facebook-f {
    background: #3B5998;
    color: white;
  }
  
  .fa-instagram {
    background: #dd4b39;
    color: white;
  }



/**********************NAVBAR**********************/

.navbar-light {
    background-color: #0ca7a9;
    webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    padding: 0;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-text {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #ffffff93;
}

  .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0);
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }


  